$container_width: 1200px;

$color_1: #121214;
$color_2: #6b08dc;
$color_3: #212025;
$color_4: #e1e1e6;

$font_small: 0.875rem;
$font_medium: 1rem;
$font_mediumLarge: 1.5rem;
$font_large: 2.25rem;
$font_superLarge: 2.75rem;

$breakpoint_1: 1030px;
$breakpoint_2: 940px;
$breakpoint_3: 320px;

$padding_section: 3.75rem;

$default_shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);

@media screen and (max-width: $breakpoint_2) {
  $container_width: 100%;
}

.container {
  max-width: $container_width;
  margin: 0 auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media screen and (max-width: $breakpoint_1) {
  .container {
    max-width: $container_width;
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
.featured-tool,
.featured {
  color: #04d361;
  font-weight: bold;
}
.featured {
  color: $color_2;
}

@mixin project-description {
  // O grid é de 12 colunas
  grid-column: 7/13;
  padding: 15px 30px;
  background: $color_3;
  color: $color_1;
  line-height: 1.6;
  font-size: 14px;
  color: #e3e4e8;
  z-index: 2;
}

@mixin project-tools {
  display: inline-block;
  background: #222;
  padding: 5px;
  color: $color_4;
}

@mixin check-project {
  font-size: $font_small;
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid #222;
  transition: 0.1s ease-in-out;
  &:hover {
    background: #222;
    color: $color_1;
  }
}
