.portfolio__title {
  font-size: $font_large;
  margin-bottom: $padding_section;
}
.portfolio__projects--item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin-bottom: 160px;
  position: relative;
  .project__name {
    position: absolute;
    right: 0;
    top: 0;
  }

  .project__img {
    grid-column: 1/9;
    box-shadow: $default_shadow;
  }
  .project__description {
    @include project-description;
  }
  .project__img,
  .project__description {
    grid-row: 1;
  }

  .project__tools {
    position: absolute;
    right: 0;
    bottom: 10px;
    .project__tools--item {
      @include project-tools;
    }
  }
}

.portfolio__projects--item:nth-child(even) {
  .project__name {
    left: 0;
    top: 0;
  }
  .project__img {
    grid-column: 5/13;
  }
  .project__description {
    grid-column: 1/7;
  }
  .project__tools {
    position: absolute;
    left: 0;
  }
}

.portfolio__links {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
}

.portfolio__checkUI,
.portfolio__checkCode {
  padding: 5px 10px;
  border: 2px solid #222;
  transition: 0.1s ease-in-out;
  &:hover {
    background: #222;
    color: $color_1;
  }
}

@media screen and (max-width: $breakpoint_2) {
  .portfolio__projects--item {
    margin-bottom: 200px;
    .project__name {
      top: -40px;
    }
    .project__img {
      grid-column: 1/13;
    }
    .project__description {
      display: none;
    }
    .project__tools {
      position: absolute;
      right: 0;
      bottom: -40px;
    }
  }

  .portfolio__projects--item:nth-child(even) {
    .project__name {
      left: 0;
      top: -40px;
    }
    .project__img {
      grid-column: 1/13;
    }
    .project__tools {
      position: absolute;
      left: 0;
    }
  }
  .portfolio__links {
    text-align: center;
    margin-top: 40px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
  }

  .portfolio__checkUI,
  .portfolio__checkCode {
    @include check-project;
  }
}
@media screen and (max-width: $breakpoint_3) {
  .portfolio__links {
    position: absolute;
    bottom: -140px;
    left: 0;
    right: 0;
  }
  .portfolio__checkUI,
  .portfolio__checkCode {
    font-size: $font_small;
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 2px solid #222;
    transition: 0.1s ease-in-out;
  }
}
