*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
a,
html {
  font-family: 'Recursive', sans-serif;
}

html {
  background: #f3f3f3;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media screen and (max-width: 1030px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.featured-tool,
.featured {
  color: #04d361;
  font-weight: bold;
}

.featured {
  color: #6b08dc;
}

.header {
  position: fixed;
  padding: 10px 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: #6b08dc;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper .hamburguer__menu {
  display: none;
}

.header__wrapper .header__title {
  text-align: center;
}

.header__wrapper .header__title p {
  color: #e1e1e6;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: bold;
}

.header__wrapper .header__nav--list {
  text-align: center;
}

.header__nav--list .header__nav--item {
  display: inline-block;
}

.header__nav--list .header__nav--item a {
  display: inline-block;
  color: #e1e1e6;
  font-size: 0.875rem;
  padding: 10px 0;
}

.header__nav--list .header__nav--item a {
  margin-left: 20px;
}

@media screen and (max-width: 1030px) {
  .header__wrapper {
    height: 60px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__wrapper .header__nav--list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__wrapper .header__nav--list .header__nav--item a {
    color: #e1e1e6;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px 0;
    border: none;
    opacity: 0.8;
  }
  .header__wrapper .hamburguer__menu {
    width: 40px;
    height: 40px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;
  }
  .header__wrapper .menu__item {
    width: 40px;
    height: 4px;
    background: #e1e1e6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 6px;
  }
  .header__wrapper .menu__item::before,
  .header__wrapper .menu__item::after {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: #e1e1e6;
    position: absolute;
    margin-top: -10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 6px;
  }
  .header__wrapper .menu__item::after {
    width: 40px;
    margin-top: 10px;
  }
  .header__wrapper .menu__item.active {
    background: transparent;
  }
  .header__wrapper .menu__item.active::before,
  .header__wrapper .menu__item.active::after {
    margin: 0px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__wrapper .menu__item.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__wrapper .header__nav--list {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: #222;
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-clip-path: circle(0px at 100% 0);
            clip-path: circle(0px at 100% 0);
  }
  .header__wrapper .header__nav--list.open {
    -webkit-clip-path: circle(1500px at 100% 0);
            clip-path: circle(1500px at 100% 0);
  }
}

.intro {
  color: #212025;
}

.intro__content {
  padding-top: 10rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__content .intro__title {
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.4;
  position: relative;
}

.intro__content .intro__title [data-intro='skills']::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 60px;
  background: #555;
  margin-left: 5px;
  margin-bottom: -2px;
  -webkit-animation: animate 0.8s ease infinite;
          animation: animate 0.8s ease infinite;
}

.intro__content .intro__hello {
  font-weight: bold;
  font-size: 1rem;
  color: #6b08dc;
  opacity: 0.8;
}

.intro__content .intro__description {
  font-size: 1rem;
  max-width: 32.5rem;
  margin-top: 30px;
  line-height: 1.8;
  opacity: 0.8;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 840px) {
  .intro__content .intro__hello {
    font-weight: normal;
  }
  .intro__content .intro__title {
    line-height: 1.5;
    font-size: 2.25rem;
  }
  .intro__content .intro__title [data-intro='skills']::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 40px;
    background: #555;
    margin-left: 5px;
    margin-bottom: -2px;
    -webkit-animation: animate 0.8s ease-in-out infinite;
            animation: animate 0.8s ease-in-out infinite;
  }
  .intro__content .intro__description {
    font-weight: normal;
    font-size: 1rem;
    max-width: 31.25rem;
    line-height: 1.5;
    opacity: 0.8;
  }
}

@media screen and (max-width: 320px) {
  .intro__content .intro__title {
    font-size: 32px;
  }
}

.portfolio {
  padding-top: 10px;
}

.portfolio__title {
  font-size: 2.25rem;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.portfolio__projects--item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 160px;
  position: relative;
}

.portfolio__projects--item .project__name {
  position: absolute;
  right: 0;
  top: 0;
}

.portfolio__projects--item .project__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.portfolio__projects--item .project__description {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  padding: 15px 30px;
  background: -webkit-gradient(linear, left top, right top, from(#6b08dc), to(#8257e6));
  background: linear-gradient(to right, #6b08dc, #8257e6);
  color: #121214;
  line-height: 1.6;
  font-size: 14px;
  color: #e3e4e8;
  z-index: 2;
}

.portfolio__projects--item .project__img,
.portfolio__projects--item .project__description {
  -ms-grid-row: 1;
  grid-row: 1;
}

.portfolio__projects--item .project__tools {
  position: absolute;
  right: 0;
  bottom: 50px;
}

.portfolio__projects--item .project__tools .project__tools--item {
  display: inline-block;
  background: #222;
  padding: 5px;
  color: #e1e1e6;
}

.portfolio__projects--item:nth-child(even) .project__name {
  left: 0;
  top: 0;
}

.portfolio__projects--item:nth-child(even) .project__img {
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-column: 5/13;
}

.portfolio__projects--item:nth-child(even) .project__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background: -webkit-gradient(linear, right top, left top, from(#6b08dc), to(#8257e6));
  background: linear-gradient(to left, #6b08dc, #8257e6);
}

.portfolio__projects--item:nth-child(even) .project__tools {
  position: absolute;
  left: 0;
}

.portfolio__links {
  text-align: center;
  margin-top: 40px;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
}

.portfolio__checkUI,
.portfolio__checkCode {
  padding: 5px 10px;
  border: 1px solid #222;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  color: #121214;
}

.portfolio__checkUI:hover,
.portfolio__checkCode:hover {
  background: #6b08dc;
  color: #e1e1e6;
}

@media screen and (max-width: 840px) {
  .portfolio__projects--item {
    margin-bottom: 200px;
  }
  .portfolio__projects--item .project__name {
    top: -40px;
  }
  .portfolio__projects--item .project__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .portfolio__projects--item .project__description {
    display: none;
  }
  .portfolio__projects--item .project__tools {
    position: absolute;
    right: 0;
    bottom: -40px;
  }
  .portfolio__projects--item:nth-child(even) .project__name {
    left: 0;
    top: -40px;
  }
  .portfolio__projects--item:nth-child(even) .project__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .portfolio__projects--item:nth-child(even) .project__tools {
    position: absolute;
    left: 0;
  }
  .portfolio__links {
    text-align: center;
    margin-top: 40px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
  }
  .portfolio__checkUI,
  .portfolio__checkCode {
    font-size: 0.875rem;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 2px solid #222;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
  .portfolio__checkUI:hover,
  .portfolio__checkCode:hover {
    background: #222;
    color: #121214;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__links {
    position: absolute;
    bottom: -140px;
    left: 0;
    right: 0;
  }
  .portfolio__checkUI,
  .portfolio__checkCode {
    font-size: 0.875rem;
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 2px solid #222;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
}

.contact__title {
  font-size: 36px;
  display: block;
}

.contact_text {
  display: block;
  max-width: 420px;
  margin: 20px 0 0 0;
  line-height: 1.4;
  opacity: 0.8;
}

.phone-number {
  display: block;
  margin-top: 20px;
  font-size: 0.875rem;
}

.contact-links-wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-links-wrapper .linkedin,
.contact-links-wrapper .github {
  display: block;
  width: 24px;
  height: 24px;
}

.send-email-wrapper {
  margin: 60px 0;
}

.send-email {
  padding: 15px 30px;
  border: 2px solid #121214;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #121214;
  font-weight: bold;
}

.send-email:hover {
  background: #6b08dc;
  color: #121214;
}

@media screen and (max-width: 840px) {
  .contact__title {
    font-size: 36px;
  }
  .contact__info {
    line-height: 1.5;
    font-size: 14px;
  }
}

.footer {
  display: block;
  margin-top: 120px;
  padding: 20px 0 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-text {
  display: block;
  text-align: center;
  font-size: 0.875rem;
}
/*# sourceMappingURL=style.css.map */